:root{
    --cor-primaria: #37096C;
    --cor-secundaria: #913FEE;
    --cor-fundo: #ffffff;
    --cor-texto: #000000;
    --cor-contraste: #C193F6;
    --cor-botao: #7514E3;
}

body{
    max-width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: var(--cor-primaria);
    color: var(var(--cor-contraste));
    text-align: center;
    margin: 16px;c
}